@model MeetingTracker.Models.MeetingItemStatus

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>

    $(function () {
        $("#txtdatepicker").datepicker();
    });

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Meeting Item Status</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MeetingItemStatusId)

        <div class="form-group">
            @Html.LabelFor(model => model.PersonId, "Assignee", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PersonId", String.Empty)
                @Html.ValidationMessageFor(model => model.PersonId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingId, "Meeting Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MeetingId", String.Empty)
                @Html.ValidationMessageFor(model => model.MeetingId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingItemId, "Item Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MeetingItemId", String.Empty)
                @Html.ValidationMessageFor(model => model.MeetingItemId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CurrentStatus", new List<SelectListItem>
                    {
                    new SelectListItem{Text = "Please Select Status", Value="In Progress", Selected = true},
                    new SelectListItem { Text = "In Progress", Value = "In Progress" },
                    new SelectListItem { Text = "Resolved", Value = "Resolved" },
                    new SelectListItem { Text = "Closed", Value = "Closed" }
                })
                @Html.ValidationMessageFor(model => model.CurrentStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActionRequired, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ActionRequired", new List<SelectListItem>
                    {
                    new SelectListItem {Text = "Please Select Action", Value="Action", Selected = true},

                    new SelectListItem { Text = "Fix Bugs", Value = "Fix Bugs" },
                    new SelectListItem { Text = "Testing", Value = "Testing" },
                     new SelectListItem { Text = "Send Invoice", Value = "Send Invoice" }
                })
                @Html.ValidationMessageFor(model => model.ActionRequired)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateUpdated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("DateUpdated", string.Empty, new { @id = "txtdatepicker", @style = "width:150px;" })
                @Html.ValidationMessageFor(model => model.DateUpdated)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*
        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

*@

